body
    font-family: 'Raleway', sans-serif;

.container
    max-width: 1230px
    margin: 0 auto
    padding: 0 30px

.title
    color: #7b6c63
    font-size: 40px
    font-weight: 600
    line-height: 47.92px
    text-transform: uppercase
    letter-spacing: 2px
    text-align: center

.header
    min-height: 95px
    background-color: #303030
    padding-top: 25px
    &__nav
        display: flex
        justify-content: space-between
        align-items: baseline
    &__menu
        display: flex
        list-style: none
    &__menu-li
        margin-right: 40px
        font-size: 12px
        font-weight: 400
        line-height: 15px
        text-transform: uppercase
        letter-spacing: 1.2px
        a 
            text-decoration: none
            color: #ffffff
            &:hover
                border-bottom: 5px solid #7b6c63
                padding-bottom: 13px 
    &__menu-li:last-child
        margin-right: 0        
        
.promo
    min-height: 769px
    background: url('../img/promo-bg-1.jpg') center (center/cover) no-repeat
    padding-top: 285px
    padding-bottom: 184px
    &__subheader
        color: #ffffff
        font-size: 24px
        font-weight: 600
        line-height: 30px
        text-transform: uppercase
        letter-spacing: 2.4px
    &__header
        color: #ffffff
        font-size: 66px
        font-weight: 400
        line-height: 75px
        text-transform: uppercase
        letter-spacing: 1.65px
        span
            color: #7b6c63
            font-weight: 600
    &__button
        display: block
        text-decoration: none
        width: 264px
        height: 60px
        background-color: rgba(255, 255, 255, 0.1)
        color: #ffffff
        font-size: 16px
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 1.6px
        margin-top: 69px
        padding: 18px 75px
        &:hover
            text-decoration: none
            color: #ffffff

.know
    min-height: 363px
    background-color: #fff
    padding: 90px 0
    &__separator
        width: 76px
        height: 6px
        background-color: #7b6c63
        margin: 50px auto
    &__text
        width: 470px
        color: #212121
        font-size: 18px
        font-weight: 400
        line-height: 30.06px
        letter-spacing: 0.9px
        margin: 0 auto
        text-align: center

.best
    min-height: 576px
    background: url('../img/best.jpg') center (center/cover) no-repeat
    padding: 90px 0
    &__header
        color: #7b6c63
        font-size: 24px
        font-weight: 600
        line-height: 30px
        text-transform: uppercase
        letter-spacing: 1.2px
    &__text
        width: 600px
        color: #000000
        font-size: 16px
        font-weight: 400
        line-height: 30px
        letter-spacing: 0.9px
        margin-top: 37px